<div>
    <h2 id="page-heading">
        <span>Files</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-file" [routerLink]="['/file/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new File
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="files">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Repository Id</span></th>
            <th><span>Demo</span></th>
            <th><span>User</span></th>
            <th><span>Transaction</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let file of files ;trackBy: trackId">
                <td><a [routerLink]="['/file', file.id, 'view' ]">{{file.id}}</a></td>
                <td>{{file.repositoryId}}</td>
                <td>{{file.demo}}</td>
                <td>
                    {{file.user?.login}}
                </td>
                <td>
                    <div *ngIf="file.transaction">
                        <a [routerLink]="['../transaction', file.transaction?.id, 'view' ]" >{{file.transaction?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/file', file.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/file', file.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'file/'+ file.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
