<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="transaction">
            <h2><span>Transaction</span> {{transaction.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Categoty</span></dt>
                <dd>
                    <span>{{transaction.categoty}}</span>
                </dd>
                <dt><span>Amount</span></dt>
                <dd>
                    <span>{{transaction.amount}}</span>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{transaction.type}}</span>
                </dd>
                <dt><span>Date</span></dt>
                <dd>
                    <span>{{transaction.date}}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{transaction.user?.login}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/transaction', transaction.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
