<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="wallet">
            <h2><span>Wallet</span> {{wallet.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Number</span></dt>
                <dd>
                    <span>{{wallet.number}}</span>
                </dd>
                <dt><span>Date</span></dt>
                <dd>
                    <span>{{wallet.date}}</span>
                </dd>
                <dt><span>Identification</span></dt>
                <dd>
                    <span>{{wallet.identification}}</span>
                </dd>
                <dt><span>Mobile</span></dt>
                <dd>
                    <span>{{wallet.mobile}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{wallet.email}}</span>
                </dd>
                <dt><span>Money</span></dt>
                <dd>
                    <span>{{wallet.money}}</span>
                </dd>
                <dt><span>Account</span></dt>
                <dd>
                    <span>{{wallet.account}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{wallet.status}}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{wallet.user?.login}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/wallet', wallet.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
